{% extends 'base.html.twig' %}

{% block javascript %}
	{% include 'routes.inc.twig' %}
	<script type="text/javascript" src="{{ asset('js/common.min.js') }}"></script>
	<script type="text/javascript">
		window.onload = function() {
			var sounds = new SoundsWidget({{ (sounds|json_encode|raw) }}, "{{ asset('audio') }}");
			sounds.setCallback("showspeaker", sounds, function(speaker) {
				pathSpeakerShow(speaker.id).goto();
			});
			sounds.setCallback("showsound", sounds, function(sound) {
				pathSoundsShow(sound.id).goto();
			});
			var container = document.getElementById('container');
			container.parentNode.replaceChild(sounds.node, container);
		};
	</script>
{% endblock %}

{% block body %}
	<h1>{% if auth and auth.getId() == user.getId() %}Mes enregistrements{% else %}Enregistrements de « {{ user.getUsername()|capitalize }} »{% endif %}</h1>
	<div id="container"></div>
{% endblock %}

