{% extends 'base.html.twig' %}

{% block body %}
<article>
	<h1>Éditer utilisateur</h1>

	{{ form_start(form) }}
	<table class="nice">
		<tr><th>E-mail</th><td>{{ form_widget(form.email) }}</td></tr>
		{% if form.isAdmin is defined %}<tr><th>Admin</th><td>{{ form_widget(form.isAdmin) }}</td></tr>{% endif %}
		<tr><th colspan="2"><input type="submit" value="Mettre à jour"/></th>
	</table>
	{{ form_end(form) }}
</article>
{% endblock %}

