{% extends 'base.html.twig' %}

{% block body %}
	<h1>Langue « {{ language.getTitle()|capitalize }} »</h1>

	<table class="nice">
		<tr><th>Titre</th><td>{{ language.getTitle()|capitalize }}</td></tr>
		<tr><th>Code</th><td>{{ language.getCode() }}</td></tr>
	</table>
{% endblock %}

