{% extends "base.html.twig" %}

{% block body %}
<article>
	<h1>Lingua Libre</h1>

	<h2>Qu’est-ce que le projet Lingua Libre?</h2>
	<p><em>Lingua Libre</em> est un projet collaboratif porté par l’association <em>Wikimédia France</em>, lancé en novembre 2015, qui vise à favoriser la documentation et la conservation des langues minoritaires et régionales.</p>
	<p>l’objectif est de développer la contribution orale comme un nouveau vecteur de participation à la valorisation de la diversité linguistique sur les projets Wikimédia. Ainsi, les enregistrements effectués dans le cadre de ce site Lingua Libre permettront :</p>
	<ul>
		<li>De verser des contenus sonores en langues régionales et minoritaires sur Wikimédia Commons</li>
		<li>D’illustrer des entrées du Wiktionnaire</li>
		<li>D’illustrer des articles de Wikipédia</li>
	</ul>
	<p><em>Lingua Libre</em> permet donc à tout un chacun d’enregistrer facilement les mots de sa langue à partir d’un navigateur internet. Ainsi les locuteurs comme les linguistes et les acteurs de la promotion des langues régionales pourront y trouver de la matière réexploitable librement :</p>
</article>

<article>
	<h1>Un outil d’enregistrement libre et gratuit</h1>
	<p>Les enregistrements effectués seront régulièrement téléversés sur <em>Wikimédia Commons</em>. Il s’agit d’une base de données multimédia en ligne centralise des médias libres, tels que photographies, dessins, schémas, musiques, textes écrits et parlés, animations et vidéos qui ont une utilité pour au moins un des projets de Wikimedia. Contrairement aux banques d’images et de médias traditionnelles, Wikimedia Commons ne publie que des médias dans le domaine public ou sous licence libre. Tout un chacun peut gratuitement copier, réutiliser, modifier les fichiers disponibles sur Commons tant que les conditions de redistribution des copies ou des fichiers modifiés sont respectées.</p>
	<p>L’outil est Lingua Libre en <a href="https://fr.wikipedia.org/wiki/GNU_Affero_General_Public_License" target="_blank" alt="GNU Affero General Public License" title="GNU Affero General Public License">GNU AGPL</a> et le contenu est libre de réutilisation (Creative Commons : CC-0, CC BY 3.0, CC BY-SA 4.0). S’inscrivant dans l’ensemble des projets Wikimédia, Lingua Libre aide à la libre diffusion des savoirs en permettant à chacun de partager sa langue et sa culture avec le reste du monde. C’est pourquoi tant l’outil en lui-même que les enregistrements qui y sont produits sont sous une <a href="https://fr.wikipedia.org/wiki/Licence_Creative_Commons" target="_blank" alt="Licence Creative Commons" title="Licence Creative Commons">licence Creative Commons</a>.</p>
</article>

<article>
	<h1>Langues de France</h2>
	<p><em>Lingua Libre</em> est une initiative du projet <em><a href="https://fr.wikipedia.org/wiki/Projet:Langues_de_France">Langues de France</a></em> mené par l’association <em>Wikimedia France</em></p>
</article>

{% endblock %}

