{% extends "base.html.twig" %}

{% block body %}
<article>
	<h1>Lingua Libre</h1>

	<h2>What is the Lingua Libre project?</h2>
	<p><em>Lingua Libre</em> is an initiative of the project <em><a href="https://fr.wikipedia.org/wiki/Projet:Langues_de_France">Langues de France</a></em> launched in 2015 by <em>Wikimedia France</em> with the aims to promote the documentation and conservation of minority and regional languages.</p>
	<p>The recordings made within the framework of this Lingua Libre site will allow:</p>
	<ul>
		<li>To <em>provide</em> audio content of regional and minority languages to Wikimedia Commons <em>Wikimédia Commons</em></li>
		<li><em>Add</em> the recordings to <em>Wiktionary</em> and <em>Wikipedia</em> articles</li>
		<li><em>Complete</em> a linguistic audio corpus for researchers and educators</li>
	</ul>
	<p><em>Lingua Libre</em> allows everyone to easily record the words of their language from an internet browser. Speakers such as linguists and those promoting regional languages will be able to find freely reusable material.</p>
</article>

<article>
	<h1>A free and free registration tool</h1>
	<p>Recordings will be regularly uploaded to <em>Wikimedia Commons</em>. It is an online multimedia database that centralizes free media, such as photographs, drawings, diagrams, music, written and spoken texts, animations and videos that are useful for at least one of Wikimedia's projects. Unlike traditional image and media libraries, Wikimedia Commons only publishes media in the public domain or under a free license. Anyone can freely copy, reuse, modify the files available on Commons as long as the conditions of redistribution of copies or modified files are respected.</p>
	<p>The tool is <em>Lingua Libre</em> in <a href="https://fr.wikipedia.org/wiki/GNU_Affero_General_Public_License" target="_blank" alt="GNU Affero General Public License" title="GNU Affero General Public License">GNU AGPL</a> and the content is free for reuse (Creative Commons : CC-0, CC BY 3.0, CC BY-SA 4.0). As part of all Wikimedia projects, Lingua Libre helps the free dissemination of knowledge by allowing everyone to share their language and culture with the rest of the world. This is why both the tool itself and the recordings that are produced are under a <a href="https://fr.wikipedia.org/wiki/Licence_Creative_Commons" target="_blank" alt="Licence Creative Commons" title="Licence Creative Commons">licence Creative Commons</a>.</p>
</article>

{% endblock %}

