{% extends 'base.html.twig' %}

{% block body %}
	<h1>Contact !</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum blandit arcu non eleifend. Donec laoreet mi et metus semper blandit. Nullam est urna, aliquet ut velit et, iaculis ultrices turpis. Quisque eu sollicitudin elit. Proin quis vehicula dolor. Nullam mollis tempor viverra. Curabitur pretium ultrices convallis. Phasellus urna mauris, vulputate aliquam ultrices eget, rutrum ac arcu. Suspendisse tempus, diam vitae convallis commodo, elit erat auctor tellus, eget suscipit nibh dolor eget purus. Nam non maximus tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce gravida et purus quis venenatis. Nulla commodo diam vel neque ornare pulvinar. Duis non euismod nisi, ac pellentesque lacus. Duis accumsan congue quam, quis blandit nulla efficitur id. Ut ligula eros, pharetra eget neque vitae, porttitor rutrum dolor.</p>
{% endblock %}

