{% extends 'base.html.twig' %}

{% block body %}
	<h1>Contact</h1>
	<p>Vous avez des questions sur le projet <span class='lingualibre'>Lingua Libre</span> ? Vous souhaitez organiser près des chez vous des séances d'enregistrements et vous souhaiteriez être accompagné par l'équipe de.<span class='lingualibre'>Lingua Libre</span> ? N'hésitez pas à nous contacter grâce au lien ci-dessous :</p>
	<ul>
		<li><a href="mailto:lingualibre@lists.wikimedia.fr">Contactez l'équipe de <span class='lingualibre'>Lingua Libre</span></a>
	</ul>
	<p><span class='lingualibre'>Lingua Libre</span> s'inscrit dans le cadre du projet « <span class='project'>Langues de France</span> » qui soutient le développement des langues régionales et minoritaires de France sur les versions linguistiques de <span class='lingualibre'>Wikipédia</span> et du <span class='project'>Wiktionnaire</span>. Afin de valoriser ces langues sur ces projets collaboratifs, nous organisons :
	<ul>
		<li>Des formation à la contribution sur <span class='project'>Wikipédia</span></li>
		<li>Des formations à la contribution au <span class='project'>Wiktionnaire</span></li>
		<li>Des formations à l'utilisation de <span class='lingualibre'>Lingua Libre</span></li>
		<li>Des formations à la numérisation et à la valorisation d'archives sur <span class='project'>Wikimédia Commons</span></li>
	</ul>

	<p>Vous pouvez retouver toutes ces actions sur la <a href="https://fr.wikipedia.org/wiki/Projet:Langues_de_France">page Wikipédia du projet Langues de France</a>. Pour toutes informations complémentaires, n'hésitez pas à contacter :</p>
	<ul>
		<li><a href="mailto:remy.gerbet@wikimedia.fr">Gerbet Rémy</a>, Chargé de mission à <span class='partner'>Wikimédia France</span></li>
		<li><a href="mailto: lyokoi@free.fr">Lévêque Lucas</a>, Administrateur <span class='lingualibre'>Lingua Libre</span></li>
		<li><a href="mailto: nico@picapo.net">Vion Nicolas</a>, Développeur <span class='lingualibre'>Lingua Libre</span></li>
	</ul>
	
	<div class="contact">
		<img src="{{ asset('img/Wikimedia-France_Logo.png') }}" title="Wikimédia France — Association pour le libre partage de la connaissance" height="200px">
	</div>
{% endblock %}

