{% extends "base.html.twig" %}

{% block body %}
<h1>Aide</h1>

<h2>Débuter sur Lingua Libre</h2>
<div class="cadre">
<ul>
	<li>Création d’un compte utilisateur</li>
	<li>Accepter les conditions d’utilisations de <span class="lingualibre">Lingua Libre</span></li>
	<li>Définir un profil de locuteur</li>
	<li>Aller dans le studio d’enregistrement et activer le micro de l’ordinateur</li>
	<li>S’assurer d’être dans un endroit calme puis parler distinctement</li>
	<li>Remplir les informations sur l’enregistrement qui vous venez d’effectuer</li>
	<li>Valider</li>
</ul> 
</div>
<h2>Création d’un compte utilisateur</h2>
<div class="cadre">
Lorem ipsum
</div>
<h2>Accepter les conditions d’utilisations de Lingua Libre</h2>
<div class="cadre">
Lorem ipsum
</div>
<h2>Définir un profil de locuteur</h2>
<div class="cadre">
Lorem ipsum
</div>
<h2>Aller dans le studio d’enregistrement et activer le micro de l’ordinateur</h2>
<div class="cadre">
Lorem ipsum
</div>
<h2>S’assurer d’être dans un endroit calme puis parler distinctement</h2>
<div class="cadre">
Lorem ipsum
</div>
<h2>Remplir les informations sur l’enregistrement qui vous venez d’effectuer</h2>
<div class="cadre">
Lorem ipsum
</div>


{% endblock %}

