{% extends 'base.html.twig' %}

{% block body %}
	<h1>Accueil</h1>

	<p>Bienvenue sur <span class='lingualibre'>Lingua Libre</span>, l’interface d’enregistrement audio libre et gratuite.</p>

	<p>Afin que s’exprime la richesse linguistique des régions sur Internet, l’association Wikimédia France mène une action autour de la valorisation des langues minoritaires dans l’espace numérique.
	De cette volonté est née <span class='lingualibre'>Lingua Libre</span> outil de collecte collaboratif à destination de tous.</p>

	<p><span class='lingualibre'>Lingua Libre</span> a été conçue pour que chacun puisse léguer aux générations futures le trésor fragile de l’oralité.</p>

	<p>Les mots, locutions, chansons ainsi collectés grâce à vous aideront les spécialistes dans leur travail et viendront également améliorer certains des projets Wikimédia comme Wikipédia, Wikimédia Commons ainsi que le Wiktionnaire. 

	<p class="quotation"><cite>« À travers la langue que nous parlons résonnent les voix des peuples qui se sont éteints »</cite> — Vassilis Alexakis</p>

	<p>Ce projet ambitieux vise à réunir un corpus audio inédit qui aidera à la visibilité des langues minoritaires et régionales en améliorant les différentes versions linguistiques de Wikipédia et apportant du matériel audio pour illustrer les entrées du Wiktionnaire.</p>

	<p class="letsbegin"><a href="{{ path("usersAdd") }}">Je participe au projet !</a></p>
{% endblock %}

