{% extends 'base.html.twig' %}

{% block body %}
	<h1>Wikimedia France</h1>
<h2>Association pour le libre partage de la connaissance</h2>
<div class="cadre">
<img src="{{ asset('img/logo_wikimedia_france.png') }}"title="Wikimédia France" class="imagepart">
<p>C’est une association à but non lucratif de droit français (loi 1901), dont le but est de soutenir en France la diffusion libre de la connaissance et notamment les projets hébergés par la <span class="partner"><a href="https://wikimediafoundation.org" alt="Wikimedia Foundation" title="Wikimedia Foundation">Wikimedia Foundation</a></span> comme l’encyclopédie <span class="partner"><a href="https://www.wikipedia.org/" alt="Wikipédia" title="Wikipédia">Wikipédia</a></span>, la médiathèque <span class="partner"><a href="https://commons.wikimedia.org" alt="Wikimédia Commons" title="Wikimédia Commons">Wikimedia Commons</a></span>, le dictionnaire <span class="partner"><a href="https://www.wiktionary.org/" alt="Wiktionnaire" title="Wiktionnaire">Wiktionnaire</a></span> et plusieurs autres projets liés à la connaissance. Créée le 23 octobre 2004, l’association regroupe des utilisateurs et des participants des projets <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimedia</span></a>. Il s’agit d’une entité indépendante financièrement et juridiquement de la <span class="partner"><a href="https://wikimediafoundation.org" alt="Wikimedia Foundation" title="Wikimedia Foundation">Wikimedia Foundation</a></span>, et obéit à des règles et à une direction distinctes.</p>

<p><span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimédia France</a></span> n’héberge ni <span class="partner"><a href="https://www.wikipedia.org/" alt="Wikipédia" title="Wikipédia">Wikipédia</a></span> (quelle qu’en soit la langue), ni aucun des projets de la <span class="partner"><a href="https://wikimediafoundation.org" alt="Wikimedia Foundation" title="Wikimedia Foundation">Wikimedia Foundation</a></span> et n’a aucun droit d’édition de ceux-ci.</p>
<h3>Les missions de Wikimedia France</h3>
<ul>
	<li>Prendre contact avec des organismes (bibliothèques, musées, administrations, collectivités locales, etc.) susceptibles de fournir des contenus libres aux projets <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimedia</a></span></li>
	<li>Aider à la numérisation et au téléversement de contenus libres sur les projets <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimedia</a></span></li>
	<li>Intervenir auprès des médias français</li>
	<li>Faire la promotion des projets <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimedia</a></span> lors de salons, conférences, expositions et événèments publics variés</li>
	<li>Faire des présentations pédagogiques des projets <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimedia</a></span> devant des étudiants, enseignants, documentalistes ou tout public intéressé</li>
	<li>Discuter de partenariats (fourniture de matériel, publication ou distribution des contenus des projets) avec des organisations tierces</li>
</ul>

Pour plus d'informations sur les actions menées par <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimédia France</a></span>, consultez le <a href="http://www.wikimedia.fr/" target="_blank" title="Wikimédia France" alt="Wikimédia France">site internet de Wikimédia France</a> ainsi que le <a href="http://blog.wikimedia.fr/" target="_blank" title="Blog de Wikimédia France" alt="Blog de Wikimédia France"> blog de l'association</a> 
</div>
<h2>Les Projets Wikimédia</h2>
<div class="cadre">
<img src="{{ asset('img/wikimedia.jpeg') }}" title="la galaxie wikimedia" class="imagepartDroite">
<p>Le mouvement <span class="partner"><a href="http://www.wikimedia.fr/" alt="Wikimédia France" title="Wikimédia France">Wikimedia</a></span> se compose d'un ensemble de projets qui ont tous en commun de proposer un contenu qui peut-être librement modifié, copié et diffusé en respectant les condtions de licence. Il s'agit des projets suivants: 
<ul class="listepart">
	<li><a href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal" target="_blank" alt="Wikipédia" title="Wikipédia">Wikipédia</a></li>
	<li><a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank"" alt="Wikimedia Commons" title="Wikimedia Commons">Wikimedia Commons</a></li>
	<li><a href="https://fr.wiktionary.org/wiki/Wiktionnaire:Page_d%E2%80%99accueil" target="_blank"" alt="Wiktionnaire="Wiktionnaire">Wiktionnaire</a></li>
	<li><a href="https://fr.wikisource.org/wiki/Wikisource:Accueil" target="_blank"" alt="Wikisource" title="Wikisource">Wikisource</a></li>
	<li><a href="https://fr.wikiversity.org/wiki/Wikiversit%C3%A9:Accueil" target="_blank"" alt="Wikiversité" title="Wikiversité">Wikiversité</a></li>
	<li><a href="https://fr.wikibooks.org/wiki/Accueil" target="_blank"" alt="Wikibooks" title="Wikibooks">Wikibooks</a></li>
	<li><a href="https://fr.wikinews.org/wiki/Accueil" target="_blank"" alt="Wikinews" title="Wikinews">Wikinews</a></li>
	<li><a href="https://fr.wikiquote.org/wiki/Wikiquote:Accueil" target="_blank"" alt="Wikiquote" title="Wikiquote">Wikiquote</a></li>
	<li><a href="https://species.wikimedia.org/wiki/Accueil" target="_blank"" alt="Wikispecies" title="Wikispecies">Wikispecies</a></li>
	<li><a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank"" alt="Wikidata" title="Wikidata">Wikidata</a></li>
</ul>

Chaque projet est autonome dans son organisation et obéit à des règles propres. Les décisions sont prises par l'ensemble de la communauté des contributeurs impliqués dans le projet. 
</p>
</div>
{% endblock %}

