{% extends 'base.html.twig' %}

{% block javascript %}
	<script type="text/javascript" src="{{ asset('js/widgets/soundsWidget.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/widgets/paginatorWidget.js') }}"></script>

	<script type="text/javascript">
		window.onload = function() {
			var sounds = new SoundsWidget({{ (sounds|json_encode|raw) }}, "{{ asset('audio') }}");
			var container = document.getElementById('container');
			container.parentNode.replaceChild(sounds.node, container);
		};
	</script>
{% endblock %}


{% block body %}
	<h1>Sonothèque</h1>
	<p>Vous retrouverez ci-dessous l’ensemble des enregistrements effectués par les locuteurs participant au projet Lingua Libre. Ces sons seront téléversés sur la médiathèque Wikimédia Commons. Ils serviront ensuite à compléter, documenter et illustrer les autres projets comme Wikipédia et le Wiktionnaire.</p>
	<div id="container"></div>
{% endblock %}

