{% extends 'base.html.twig' %}

{% block javascript %}
	{% include 'routes.inc.twig' %}
	<script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
	<script type="text/javascript">
		window.onload = function() {
			var sounds = new SoundsWidget({{ (sounds|toArr|json_encode|raw) }}, "{{ asset('audio') }}");
			sounds.setCallback("showspeaker", sounds, function(speaker) {
				pathSpeakerShow(speaker.id).open();
			});
			sounds.setCallback("showsound", sounds, function(sound) {
				pathSoundsShow(sound.id).open();
			});
			var container = document.getElementById('container');
			container.parentNode.replaceChild(sounds.node, container);
		};
	</script>
{% endblock %}


{% block body %}
	<article>
		<h1>Sound Library</h1>
		<p>You will find below all the recordings made by the speakers participating in the Lingua Libre project. These sounds will be uploaded to the <a href="https://commons.wikimedia.org/" target="_blank" alt="Wikimédia Commons" title="Wikimédia Commons">Wikimédia Commons</a>. They will then be used to supplement, document and illustrate other projects such as <a href="https://www.wikipedia.org/" alt="Wikipédia" title="Wikipédia" target="_blank">Wikipedia</a> and <a href="https://www.wiktionary.org/" alt="Wiktionnaire" title="Wiktionnaire" target="_blank">Wiktionary</a>.</p>

		<div id="container"></div>
	</article>
	
{% endblock %}

