div.soundWidget {
	border-radius: 10px;
	border: 3px solid lightgray;
	margin: 10px;
	padding: 10px;
	background-color: #f1f1f1;
}

div.soundWidget canvas {
	border: 3px solid lightgray;
	background-color: white;
}

div.soundWidget a {
	margin: 4px;
	float: right;
}

div.soundWidget div.tools {
	float: right;
}

div.soundWidget textarea {
	width: 350px;
}

div.soundWidget input {
	width: 350px;
}

div.recorderWidget button.record {
	background: url(../img/microphone.png) no-repeat;
	padding: 5px 5px 5px 40px;
	height: 48px;
	border-radius: 8px;
	border: 3px solid lightgray;
	background-color: #eee;
	margin: 10px;
}

div.recorderWidget button.record:disabled {
	display: none;
}

