body {
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	font-family: "Linux Libertine",Georgia,Times,serif;
	color:#3C3C3C;
}



@media (min-width: 750px){
  :root, input {
    font-size: 18px;
  }
}
@media (min-width: 550px) and (max-width: 900px){
  :root, input {
    font-size: 2vw;
  }
}

@media (max-width: 550px){
  :root, input {
    font-size: 12px;
  }
}


a {
	text-decoration: none;
	cursor: pointer;
	color:#00A99D;
}

a:hover {
	color:#3C3C3C;
}

li {
	margin: 7px;
}

h1, h4, h5, h6 {
	color: #00a99d;
}

h1 {
	margin: 5px 0;
	font-size:2.1em;
}

h2 {
	color: #00a99d;
	margin-bootom:0px;
}


textarea {
	width: 300px;
	height: 60px;
}

table.nice {
	margin: 10px;
}

table.nice th {
	background-color: #f2f2f2;
	color: #3C3C3C;
	padding: 5px 10px;
	font-weight: bold;
}

table.nice td {
	border: 5px solid #e1e1e1;
	padding: 5px 10px;
}

div.account {
}

div.account ul {
	background-color: #f2f2f2;
	border: 1px solid #3C3C3C;
	padding: 5px;
	margin: 4px 0 0 0;
	position: absolute;
	min-width: 100px;
	right: 0;
}

div.account ul li {
	padding: 5px;
	margin: 0;
	text-align: center;
	list-style-type: none;
}

div.account ul li:hover {
}


.logomobile {
	width:15vw;
	margin-left:auto;
	margin-right:auto;
}

.logomobile img {
	width:15vw;
	min-width:50px;
}


.menuhaut {
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:90vw;
	margin-left:auto;
	margin-right:auto;
	font-size:1.1em;
	text-transform:uppercase;
}

.menumobile {
	padding-top: 10px;
	position:absolute;
	left:5vw;
}

.immenumobile {
	max-width:7vw;
}


.menumobile .sousmenumobile {
	visibility:hidden;
	position:absolute;
	background: #f2f2f2;
	padding:5px;
	font-size:1.2em;
	width:50vw;
}

.menumobile:hover .sousmenumobile {
	visibility:visible;
}


@media (min-width: 550px){
	.logomobile {
		display:none;
	}
	.menumobile {
		display:none;
	}
}

@media (max-width: 550px){
	.menuhaut {
		display:none;
	}
}

.itemmenu {
	border-top:1px solid #00A99D;
	flex-grow:1;
}

.itemmenulogo {
	width:15vw;
	min-width:50px;
}

.itemmenu a {
	color:#3C3C3C;
}

.itemmenu a:hover,.itemmenu:hover {
	color:#00A99D;
}

.itemmenulogo img {
	width:15vw;
	min-width:50px;
}


.menuhaut .sousmenu {
	visibility:hidden;
	position:absolute;
	background: #f2f2f2;
	padding:5px;
}

.menuhaut .itemmenu:hover .sousmenu {
	visibility:visible;
}

.itemmenu .sousmenu .itemsousmenu {
	text-transform:none;
	opacity:1;
}


ul.bar {
	padding: 0 15px;
	color: #eee;
	margin: 0;
	background-color: #3c3c3c;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px -1px 2px 0px rgba(255, 255, 255, 0.5);
}

ul.bar a {
	color: inherit;
}

.barItem {
	padding-top: 10px;
	color: #eee;
	position:absolute;
	right:5vw;
}

.barItem:hover {
	border-bottom: 3px solid #00a99d;
}

ul.bar li.barItem {
	list-style-type: none;
	display: inline-block;
}

div.contact {
	text-align: center;
}

ul.menu {
	margin: 20px;
	float: left;
	width: 250px;
	color: #eee;
	padding: 10px;
	background-color: #3c3c3c;
}

ul.menu li {
	list-style-type: none;
	margin: 12px 4px;
	border-left: 4px solid #3c3c3c;
}

ul.menu li:hover {
	border-left: 4px solid #00a99d;
}

ul.menu a {
	color: inherit;
}

div.page {
	width:90vw;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page .cadre {
	background-color:white;
	padding:10px;
	margin-bottom:15px;
	margin-top:15px;

}

.page .cadre h1 {
	color:#3C3C3C;
}

.page .cadre p {
	margin-top:0;
}

h2 {
	margin-top:0;
	margin-bottom:0;
	color:#3C3C3C;
}

.imagegauche {
	float:left;
	margin-right:15px;
	max-width:20vw;
}

input.lang {
	width: 50px;
}

a img:hover {
	opacity: 0.7;
}

form.login table {
	margin: 10px auto;
	padding: 5px;
}

select.country {
	width: 100px;
}

span.lingualibre {
	font-weight: bold;
}

span.project {
	font-weight: bold;
}

span.partner {
	font-weight: bold;
}

span.creativeCommons {
	font-weight: bold;
}

td.licence {
	max-width: 600px;
}

div.licenceBloc {
	height: 200px;
	overflow: auto;
	padding: 10px;
	background-color: #dad8d8;
}

div.partner {
	text-align: center;	
}

div.partner img {
	margin: 10px;
}

p.quotation {
	width:70vw;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-weight:bold;
}

p.letsbegin {
	text-align: center;
	font-size:1.4em;
	font-weight:bold;
}

div.toolbar {
	display: table-cell;
}

th.tools {
	text-align: right;
}

.privatecom td {
	background-color: #e1e1e1;
}

img.imagepart {
	float: left;
	margin-right: 15px;
	max-width: 200px;
	max-height: 150px;
}

img.imagepartDroite {
	float: right;
	margin-left: 15px;
	max-width: 200px;
	max-height: 150px;
}

a.lienpart {
	margin-left: 30px;
}

a.lienpart::before { 
	content: "↪ ";
}

ul.listepart li {
	list-style-type:none;
}

ul.listepart li::before { 
	content: "↪ ";
}

div.multiRecorder > ul.tabs {
	padding: 0;
	border-bottom: 3px solid #ddd;
}

div.multiRecorder > ul.tabs > li {
	cursor: pointer;
	display: inline-block;
	border-radius: 15px 15px 0 0;
	background-color: #ddd;
	padding: 15px;
	margin-bottom: 0;
}

button.details {
	cursor: pointer;
	height: 24px;
	width: 24px;
	border: none;
	background-color: transparent;
	background-image: url(../img/details_24.png)
}

div.sounds td.transcription {
	width: 350px;
}

div.sounds td.speaker {
	text-align: center;
	width: 150px;
}

div.sounds td.language {
	text-align: center;
	width: 120px;
}

div.paginator > span.number {
	padding: 5px;
}

div.paginator {
	text-align: center;
	width: 200px;
	margin: 0 auto;
	background-color: #eee;
	padding: 8px;
	border: 3px solid #ddd;
}
