	<div class="licence">
		<p>Je confirme par la présente que donner mon autorisation pour publier cette/ces œuvre(s) sous la licence :</p>
		<ul>
			<li><a href="https://creativecommons.org/licenses/by-sa/4.0/"><span class="creativeCommons">CC-BY-SA 4.0</span></a>
		</ul>

		<p>Les principales caractéristiques de cette licence sont :</p>

		<ul>
			<li><span class="creativeCommons">Autorisation de partage :</span> la copie et la redistribution des œuvres sous n’importe quelformat et support pour tout usage, même commercial
			<li><span class="creativeCommons">Autorisation d’adaptation :</span> le remixage, la transformation et construction sur le matériau pour tout usage, même commercial
			<li><span class="creativeCommons">Obligation d’attribution de paternité :</span> L’utilisateur doit donner les crédits appropriés (créateur, licence, présence de modification…)
			<li><span class="creativeCommons">Obligation de partage à l’identique :</span> L’utilisateur doit publier les œuvres dérivées sous la même licence que l’originale
		</ul>
		<p>Cette autorisation vaut tant pour le droit d’auteur que pour tout droit voisin dont je pourrais être titulaire sur ces enregistrements. Je reconnais accorder à toute personne le droit d’utiliser ce travail, même dans un produit commercial ou autre, et de le modifier en fonction de leurs besoins, à condition qu’ils respectent les termes de la licence ci-dessus et toute autre loi applicable.</p>
		<p>Je suis conscient de toujours jouir des droits moraux sur mon œuvre, et garder le droit d’être cité pour celle-ci selon les termes de la licence ci-dessus. Les modifications majeures que d’autres pourront faire ne me seront pas attribuées.</p>
		<p>Je comprends que je ne peux pas retirer cette licence, et que l’œuvre est susceptible d’être conservée de manière permanente par n’importe quel projet de la fondation Wikimedia.</p>
		<p>Je certifie avoir lu les conditions générales d’utilisation</p>
	</div>
